* {
  font-family: sans-serif;
}

.body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  overflow: hidden;
}

.header-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  width: 100%;
  padding: 0 12rem 0 12rem;
  border-bottom: 1px solid darkgrey;
}

.heading-01 {
  display: flex;
  align-items: center;
  gap: 60px;
  width: 100%;
  /* justify-content: center; */
}

.zomato-logo-search-box {
  display: flex;
  align-items: center;
  gap: 40px;
}

.zomato-logo {
  margin: 0px;
  font-size: 40px;
  width: 125px;
}

.search-box {
  border: 0px solid silver;
  border-radius: 7px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* width: 645px;
  height: 50px; */
  display: flex;
  align-items: baseline;
}

.dropdown {
  display: flex;
  align-items: center;
  margin: 4px 0 0 10px;
  height: 40px;
}

.google-map-img {
  height: 20px;
}

.google-input {
  height: 20px;
  margin-left: 7px;
  border: none;
  font-size: 15px;
  outline: none;
}

.search-icon {
  margin-left: 10px;
  height: 40px;
  display: flex;
}

.search-icon > img {
  height: 26px;
  position: relative;
  top: 5px;
}

.search-input-type {
  height: 33px;
  width: 325px;
  border: none;
  font-size: 15px;
  outline: none;
}
.login-signin {
  display: inline-flex;
  gap: 30px;
}
.log-in {
  font-size: 20px;
  color: lightgrey;
  border: none;
  background-color: white;
  cursor: pointer;
}

.sign-in {
  font-size: 20px;
  color: lightgrey;
  border: none;
  /* margin-left: 30px; */
  background-color: white;
  cursor: pointer;
}

.heading-02 {
  font-size: smaller;
  width: 100%;
}

.heading-02 > ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding: 0px;
  color: lightgray;
  cursor: pointer;
}

.heading-03 {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding-bottom: 20px;
}

.delivery,
.dining,
.night {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.delivery-img-color {
  width: 65px;
  height: 65px;
  background-color: rgb(252, 238, 192);
  border-radius: 50%;
}

.delivery img,
.dining img,
.night img {
  height: 28px;
  position: relative;
  left: 18px;
  top: 17px;
}

.delivery,
.dining,
.night,
h2 {
  color: rgb(105 92 92);
  font-weight: 100;
  gap: 15px;
}

.dining-img-color,
.nightlife-img-color {
  width: 65px;
  height: 65px;
  background-color: rgb(229, 243, 243);
  border-radius: 50%;
}
.options {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0 12rem 0 12rem;
  gap: 15px;
  margin-top: 10px;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 1;
}

.options button:hover {
  background-color: lightgray;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: white;
  cursor: pointer;
  height: 45px;
  width: 90px;
  font-size: 15px;
  border: 1px solid silver;
  border-radius: 7px;
}

.one {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  border-radius: 4px;
  height: 25px;
  color: white;
  background-color: rgb(239, 79, 95);
}

.sev-tamatar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: white;
  cursor: pointer;
  height: 45px;
  width: 130px;
  font-size: 15px;
  background-color: rgb(239, 79, 95);
  color: white;
  border: 1px solid silver;
  border-radius: 7px;
}

.options .sev-tamatar:hover {
  background-color: darkred;
}

.arrow img {
  height: 18px;
}

.delivery-time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: white;
  cursor: pointer;
  height: 45px;
  width: 130px;
  font-size: 15px;
  border: 1px solid silver;
  border-radius: 7px;
  color: silver;
}

.ratings {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: white;
  cursor: pointer;
  height: 45px;
  width: 100px;
  font-size: 14px;
  border: 1px solid silver;
  border-radius: 7px;
  color: silver;
}

.pure-veg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: white;
  cursor: pointer;
  height: 45px;
  width: 80px;
  font-size: 14px;
  border: 1px solid silver;
  border-radius: 7px;
  color: silver;
}

.cuisines {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: white;
  cursor: pointer;
  height: 45px;
  width: 90px;
  font-size: 14px;
  border: 1px solid silver;
  border-radius: 7px;
  color: silver;
}

.more-filters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: white;
  cursor: pointer;
  height: 45px;
  width: 120px;
  font-size: 14px;
  border: 1px solid silver;
  border-radius: 7px;
  color: silver;
}

.main-body {
  font-size: 30px;
  padding: 0 12rem 0 12rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

#cards {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 30px;
  justify-content: center;
}

.card {
  width: 295px;
  height: 300px;
  border-radius: 20px;
  padding: 12px;
  cursor: pointer;
  border: 1px solid transparent;
  /* transition: 0.2s; */
}

.card:hover {
  border: 1px solid silver;
  /* transform: scale(1.1); */
}

.promoted p {
  position: relative;
  left: 7px;
  font-size: 12px;
  color: silver;
  border: 1px solid silver;
  border-radius: 2px;
  width: 55px;
  height: fit-content;
  background-color: #7f7a7ad4;
  text-align: center;
}
.not-promoted {
  height: 15.6px;
}
.not-promoted p {
  font-size: 12px;
  width: 0px;
}
.card img {
  width: 295px;
  height: 220px;
  border-radius: 12px;
  position: absolute;
}

.discount-coupon p {
  position: relative;
  top: 150px;
  font-size: 14px;
  border: 1px royalblue;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: royalblue;
  width: 65px;
  color: white;
  text-align: center;
}

.time p {
  position: relative;
  border: 1px silver;
  background-color: white;
  color: black;
  font-size: 12px;
  width: 45px;
  height: 18px;
  border-radius: 4px;
  left: 238px;
  top: 119px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#food-card-details {
  position: relative;
  top: 105px;
  font-size: 15px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.shop-name h3 {
  margin: 18px 0 0 0;
}

.food-rating {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.food-rating p {
  margin: 18px 0 0 0;
  border: 1px green;
  background-color: rgb(36, 150, 63);
  width: 40px;
  color: white;
  border-radius: 5px;
}
.food-shop-location p {
  margin: 5px 0 0 0;
  color: gray;
  font-size: 13px;
}
.rate-of-food p {
  margin: 5px 0 0 0;
  color: gray;
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
}
.orders-qty {
  border-top: 1.6px solid lightgrey;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  gap: 22px;
  top: 115px;
}
.orders-qty img {
  height: 20px;
  width: 20px;
}
.orders-qty p {
  font-size: 12px;
  position: relative;
  left: 30px;
  color: darkgray;
  /* white-space: nowrap; */
  font-size: 10px;
}
#logo {
  height: 17px;
  width: 45px;
  border-radius: 0px;
  position: relative;
  left: 59px;
}
footer {
  background-color: rgb(252, 252, 252);
  width: 100%;
}
footer h1,
h2 {
  color: rgb(105, 92, 92);
}
.footer_para-01 {
  display: flex;
  flex-direction: row;
}
.footer_para-01_list {
}
/* Media Query for tablets */
@media (min-width: 601px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .header-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 0px;
  }
  .heading-01 {
    width: 100%;
    justify-content: space-around;
  }
  .heading-02 {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .heading-03 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .zomato-logo-search-box {
    display: flex;
    flex-direction: column;
  }
  .login-signin {
    display: none;
  }
  .log-in,
  .sign-in {
    display: none;
  }
  .heading-02 > ul {
    display: flex;
    font-size: small;
    list-style-type: none;
    gap: 10px;
    color: lightgray;
    cursor: pointer;
  }
  .options {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
    padding: 0px;
  }
  .options > button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: silver;
    cursor: pointer;
    height: 36px;
    width: fit-content;
    font-size: 10px;
    border: 1px solid silver;
    border-radius: 7px;
  }
  .main-body {
    width: 100%;
    display: grid;
    justify-content: space-around;
    padding: 0;
  }
  .main-body > p {
    text-align: center;
  }
  #cards {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    width: 100%;
  }
}
/* Media Query for mobiles */
@media (max-width: 600px) {
  .main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    /* padding: 0px; */
  }
  .header-box {
    padding: 0px;
  }
  .search-box {
    display: none;
  }
  .login-signin {
    display: none;
  }
  .heading-03 {
    gap: 12px;
  }
  .delivery,
  .dining,
  .night,
  h2 {
    gap: 8px;
    font-size: 15px;
  }
  .delivery-img-color {
    width: 40px;
    height: 40px;
    background-color: rgb(252, 238, 192);
    border-radius: 50%;
  }
  .dining-img-color {
    width: 40px;
    height: 40px;
    background-color: rgb(229, 243, 243);
    border-radius: 50%;
  }
  .nightlife-img-color {
    width: 40px;
    height: 40px;
    background-color: rgb(229, 243, 243);
    border-radius: 50%;
  }
  .delivery img,
  .dining img,
  .night img {
    height: 22px;
    position: relative;
    left: 9px;
    top: 8px;
  }
  .options {
    padding: 0px;
    overflow-x: scroll;
  }
  .main-body {
    width: 100%;
    display: grid;
    justify-content: center;
    padding: 0px;
  }
  .main-body > p {
    font-size: 20px;
  }
  #cards {
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
    width: 100%;
  }
  .card {
    width: 295px;
    height: 300px;
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid silver;
  }
}
